body {
    padding-top: 70px;
    padding-bottom: 100px;
}
.panel-heading h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.panel-login {
    margin-top: 50px;
}

.page-header,
.page-header h2 {
    margin-top: 0;
}

footer {
    border-top: 1px solid #DDDDDD;
    background-color: #F8F8F8;
    color: #666;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}
footer a {
    color: #666;
}
footer a:hover {
    color: #333;
}

.navbar-right {
    margin-right: 15px;
}
